@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Proza Libre', sans-serif;
    font-size: 14px;
}

.row-orientation {
    display: flex;
    flex-direction: row;
}

.column-orientation {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    align-content: center;
    height: 100vh;
}

#form-container {
    margin: auto;
    background-color: antiquewhite;
    border: 1px solid #000;
}

#heading {
    text-align: center;
    font-size: 2.8em;
    margin: 20px;
}

form {
    align-self: center;
    padding: 30px;
}

/*#form-login {
    display: none;
}*/

input[type='button'] {
    width: 50%;
    margin: 5px;
}

#input-fields-container > div + div {
    margin-left: 25px;
    padding-left: 25px;
    border-left: 1px solid grey;
}

#input-fields-container > input {
    align-items: flex-end;
}

input[type="radio"] {
    display: inline
}

input[type="textarea"] {
    height: 50px;
}
